/* Estilos generales */
body {
  font-family: Arial, sans-serif;
}

.homeContainer {
  padding: 2rem 6vw;
  width: 100%;
  .titulo {
    margin: 2rem 0 1rem 0;
    font-weight: 700;
    font-size: 1.2rem;
    &.titulo1 {
      font-size: 1.5rem !important;
    }
  }
  .aviso {
    background: rgb(8, 30, 57);
    background: linear-gradient(
      90deg,
      rgba(8, 30, 57, 1) 29%,
      rgba(190, 131, 28, 1) 86%
    );
    color: white;
    text-align: center;
    padding: 2rem 20vw;
    @media (max-width: 900px) {
      padding: 2rem;
    }
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    font-size: 1.2rem;
    margin-top: 2rem;
    // font-weight: 00;
  }

  .lastTitle {
    margin-top: 3rem;
  }

  .categorias {
    .titulo {
      margin: 0 0 1rem 0;
      font-weight: 700;
      font-size: 1.2rem;
    }

    /* Estilos para la fila de categorías */
    .categoria-row {
      display: flex;
      max-width: 90rem;
      justify-content: space-between;
      @media (max-width: 1300px) {
        justify-content: center;
      }
      align-items: center;
      margin-bottom: 20px;
      flex-wrap: wrap;
      gap: 10px;
      // border: 1px solid red;
      .categoria {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        transition: all 0.5s;

        &:hover {
          filter: brightness(0.8);
          @media (min-width: 1370px) {
            scale: 1.1;
          }
        }
        img {
          width: 10rem;
          height: 6rem;
        }
      }
    }
  }

  .esquema {
    img {
      width: 20rem;
    }
    @media (max-width: 1300px) {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  /* Estilos para la grilla de perfiles */
  .perfil-grid {
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
    gap: 3vw;
    margin-bottom: 20px;
    @media (max-width: 1490px) {
      justify-content: center;
      gap: 2rem;
    }
    .perfil {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      transition: all 0.5s;
      border-radius: 0.5rem;
      -webkit-border-radius: 0.5rem;
      -moz-border-radius: 0.5rem;
      -ms-border-radius: 0.5rem;
      -o-border-radius: 0.5rem;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.333);
      // flex: 1;

      &:hover {
        @media (min-width: 1370px) {
          scale: 1.1;
        }
      }

      img {
        width: 14rem;
        height: 7rem;
        object-fit: contain;
        margin-bottom: 5px;
        @media (max-width: 1200px) {
          width: 9rem;
        }
      }
    }
  }

  /* Estilos para la imagen de plano y formulario */
  .plano-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    // width: 80vw;
    // border: 1px solid red;
    @media (max-width: 1340px) {
      justify-content: flex-start;
    }
    // justify-content: start;
    .imagen-plano img {
      width: 28vw;
      height: 28vw;
      @media (max-width: 1000px) {
        width: 20rem;
        height: 20rem;
      }
      @media (max-width: 900px) {
        width: 100%;
      }
      margin-right: 20px;
      object-fit: contain;
      border: 1px solid rgb(186, 186, 186);
    }
    .formulario {
      // border: 1px solid red;
      width: 60%;

      @media (max-width: 1000px) {
        width: 100%;
      }
      .alertaContainer,
      .alertaErrorContainer {
        text-align: center;
        padding: 0.5rem 4rem;
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;

        p {
          margin: 0;
          font-size: 1.2rem;
          font-weight: 600;
        }
        &.alertaContainer {
          background-color: rgb(195, 244, 204);
          color: green;
          margin-top: 4%;
          @media (max-width: 900px) {
            margin: 2rem 0 0 0;
          }
        }
        &.alertaErrorContainer {
          background-color: rgb(244, 195, 195);
          color: red;
          margin-top: 2%;
        }
      }
      .loader-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;
      }
      form {
        display: flex;
        flex-direction: column;
        .titulo {
          margin: 0 0 0.4rem 0;
          font-weight: 700;
          font-size: 1.2rem;
          &:not(:first-child) {
            margin-top: 2rem;
          }

          @media (max-width: 1370px) {
            margin-top: 2rem;
          }

          span {
            font-size: 0.8rem;
            color: grey;
          }
        }
        .columnas {
          display: flex;
          flex-direction: column;
          // justify-content: space-between;
          // flex-direction: column-reverse;
          .medidas,
          .selectMaterial,
          .datosCliente {
            width: 100%;
            display: flex;
            input {
              border: 1px solid rgb(148, 148, 148);
              padding: 2%;
              font-size: 0.8rem;
              height: 2.2rem;
              &::placeholder {
                font-size: 0.8rem;
                color: rgb(156, 156, 156);
              }
            }

            /* .subtitulo {
                font-size: $subtSizePC;
                font-weight: 700;
              } */
            label {
              font-size: 0.8rem;
            }
          }
          .medidasArchivo {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 1.5rem;

            @media (max-width: 900px) {
              flex-direction: column;
              align-items: flex-start;
              width: 100%;
            }
            .medidasTituloInputs {
              .medidas {
                flex-wrap: wrap;
                gap: 0.2rem;
                div {
                  display: flex;
                  flex-direction: column;

                  input {
                    width: 4rem;
                    @include center;
                    text-align: center;
                    margin-right: 1rem;
                    &::-webkit-inner-spin-button,
                    &::-webkit-outer-spin-button {
                      -webkit-appearance: none;
                      appearance: none;
                      margin: 0;
                    }
                  }
                }
              }
            }
            .archivoTituloInputs {
              .subirImgTitle {
                margin-bottom: 0.3rem;
                font-weight: 700;
                font-size: 1.2rem;
                span {
                  font-size: 0.8rem;
                  color: grey;
                }
              }
              .archivo {
                display: flex;
                flex-direction: column;
                label {
                  font-size: 0.8rem;
                }
                input {
                  cursor: pointer;
                  @include center;
                  width: 20rem;
                  border: 1px solid rgb(148, 148, 148);
                  font-size: 0.8rem;
                  padding: 0.3rem 0.3rem;
                  &::placeholder {
                    font-size: 0.8rem;
                    color: rgb(156, 156, 156);
                  }
                }
              }
            }
          }

          .selectMaterial {
            // justify-content: space-around;

            /* @media (max-width: 900px) {
              justify-content: center;
            } */
            flex-wrap: wrap;
            gap: 10px;
            .material-option {
              @media (min-width: 900px) {
                flex: 1;
              }
              font-size: 0.8rem;
              @include center;
              text-align: center;
              padding: 0.25rem;
              cursor: pointer;
              transition: all 0.5s;
              border-radius: 0.5rem;
              -webkit-border-radius: 0.5rem;
              -moz-border-radius: 0.5rem;
              -ms-border-radius: 0.5rem;
              -o-border-radius: 0.5rem;
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
              width: 8rem;
              min-height: 3rem;
              &:hover {
                background-color: rgba(0, 0, 0, 0.096);
              }
            }
          }

          .datosCliente {
            flex-direction: column;
            justify-content: space-between;
            div {
              display: flex;
              flex-direction: column;
              // border: 1px solid red;
              // width: 19%;
              input {
                width: 100%;
              }
            }
            .inputs1 {
              width: 100%;
              display: flex;
              flex-wrap: wrap;
              flex-direction: row;
              justify-content: space-between;
              gap: 0.5rem;
              div {
                width: 30.6%;
                margin-bottom: 0.5rem;
                @media (max-width: 900px) {
                  width: 100%;
                }
                input {
                  &::-webkit-inner-spin-button,
                  &::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    appearance: none;
                    margin: 0;
                  }
                }
              }
            }
            .inputs2 {
              width: 100%;
              flex-wrap: wrap;
              display: flex;
              flex-direction: row;
              gap: 1rem;
              justify-content: space-between;
              @media (max-width: 900px) {
                margin-top: 0.5rem;
              }
              div {
                width: 48%;
                @media (max-width: 900px) {
                  width: 100%;
                }
              }
            }
          }
        }
        .submit {
          background: rgb(8, 30, 57);
          background: linear-gradient(
            90deg,
            rgba(8, 30, 57, 1) 29%,
            rgba(190, 131, 28, 1) 86%
          );
          color: #fff;
          border: none;
          // width: 50%;
          padding: 0.8rem 0;
          border-radius: 0.5rem;
          cursor: pointer;
          margin-top: 2.5rem;
          font-size: 1.2rem;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.302);
          transition: all 0.5s;
          &:hover {
            filter: brightness(0.8);
            @media (min-width: 1370px) {
              scale: 1.03;
            }
          }
        }
      }
    }
  }
}

.selected,
.seleccionada {
  border: 2px solid rgb(8, 30, 57);
}
