/* Estilos generales */
body {
  font-family: Arial, sans-serif;
}

.homeContainer {
  flex-direction: column;
  padding: 3% 10vw;
  width: 100%;
  .titulo {
    margin: 2vw 0 1vw 0;
    font-weight: 700;
    font-size: $titleSizeBigPC;
  }
  .aviso {
    background: rgb(8, 30, 57);
    background: linear-gradient(
      90deg,
      rgba(8, 30, 57, 1) 29%,
      rgba(190, 131, 28, 1) 86%
    );
    color: white;
    text-align: center;
    padding: 2vw 20vw;
    border-radius: 0.5vw;
    -webkit-border-radius: 0.5vw;
    -moz-border-radius: 0.5vw;
    -ms-border-radius: 0.5vw;
    -o-border-radius: 0.5vw;
    font-size: 1.6vw;
    margin-top: 5%;
    // font-weight: 00;
  }

  .lastTitle {
    margin-top: 3vw;
  }

  .categorias {
    .titulo {
      margin: 0 0 1vw 0;
      font-weight: 700;
      font-size: $titleSizeBigPC;
    }

    /* Estilos para la fila de categorías */
    .categoria-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      .categoria {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        transition: all 0.5s;

        &:hover {
          filter: brightness(0.8);
          scale: 1.1;
        }
        img {
          width: 10vw;
          height: 6vw;
        }
      }
    }
  }

  /* Estilos para la grilla de perfiles */
  .perfil-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2vw;
    margin-bottom: 20px;
    .perfil {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      transition: all 0.5s;
      border-radius: 0.5vw;
      -webkit-border-radius: 0.5vw;
      -moz-border-radius: 0.5vw;
      -ms-border-radius: 0.5vw;
      -o-border-radius: 0.5vw;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.103);
      flex: 1;
      &:hover {
        scale: 1.1;
      }
      img {
        width: 9vw;
        height: 9vw;
        margin-bottom: 5px;
      }
    }
  }

  /* Estilos para la imagen de plano y formulario */
  .plano-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .imagen-plano img {
      width: 28vw;
      height: 28vw;
      margin-right: 20px;
      object-fit: contain;
      border: 1px solid rgb(186, 186, 186);
    }
    .formulario {
      width: 60%;
      .alertaContainer,
      .alertaErrorContainer {
        text-align: center;
        padding: 0.5vw 4vw;
        border-radius: 0.5vw;
        -webkit-border-radius: 0.5vw;
        -moz-border-radius: 0.5vw;
        -ms-border-radius: 0.5vw;
        -o-border-radius: 0.5vw;
        p {
          margin: 0;
          font-size: $titleSizePC;
          font-weight: 600;
        }
        &.alertaContainer {
          background-color: rgb(195, 244, 204);
          color: green;
          margin-bottom: 4%;
        }
        &.alertaErrorContainer {
          background-color: rgb(244, 195, 195);
          color: red;
          margin-top: 2%;
        }
      }
      .loader-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;
      }
      form {
        display: flex;
        flex-direction: column;
        .titulo {
          margin: 0 0 0.4vw 0;
          font-weight: 700;
          font-size: $titleSizePC;
          &:not(:first-child) {
            margin-top: 2vw;
          }
          span {
            font-size: $descrSizePC;
            color: grey;
          }
        }
        .columnas {
          display: flex;
          flex-direction: column;
          // justify-content: space-between;
          // flex-direction: column-reverse;
          .medidas,
          .selectMaterial,
          .datosCliente {
            width: 100%;
            display: flex;
            input {
              border: 1px solid rgb(148, 148, 148);
              padding: 2%;
              font-size: $descrSizePC;
              height: 2.2vw;
              &::placeholder {
                font-size: $descrSizePC;
                color: rgb(156, 156, 156);
              }
            }

            /* .subtitulo {
                font-size: $subtSizePC;
                font-weight: 700;
              } */
            label {
              font-size: $descrSizePC;
            }
          }
          .medidasArchivo {
            display: flex;
            justify-content: space-between;
            .medidasTituloInputs {
              .medidas {
                div {
                  display: flex;
                  flex-direction: column;
                  input {
                    width: 4vw;
                    @include center;
                    text-align: center;
                    margin-right: 1vw;
                    &::-webkit-inner-spin-button,
                    &::-webkit-outer-spin-button {
                      -webkit-appearance: none;
                      appearance: none;
                      margin: 0;
                    }
                  }
                }
              }
            }
            .archivoTituloInputs {
              .archivo {
                display: flex;
                flex-direction: column;
                label {
                  font-size: $descrSizePC;
                }
                input {
                  cursor: pointer;
                  @include center;
                  width: 21vw;
                  border: 1px solid rgb(148, 148, 148);
                  font-size: $descrSizePC;
                  padding: 0.3vw 0.3vw;
                  &::placeholder {
                    font-size: $descrSizePC;
                    color: rgb(156, 156, 156);
                  }
                }
              }
            }
          }

          .selectMaterial {
            justify-content: space-between;
            .material-option {
              font-size: $descrSizePC;
              @include center;
              text-align: center;
              padding: 0.25vw;
              cursor: pointer;
              transition: all 0.5s;
              border-radius: 0.5vw;
              -webkit-border-radius: 0.5vw;
              -moz-border-radius: 0.5vw;
              -ms-border-radius: 0.5vw;
              -o-border-radius: 0.5vw;
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
              width: 19%;
              &:hover {
                background-color: rgba(0, 0, 0, 0.096);
              }
            }
          }

          .datosCliente {
            flex-direction: column;
            justify-content: space-between;
            div {
              display: flex;
              flex-direction: column;
              // border: 1px solid red;
              // width: 19%;
              input {
                width: 100%;
              }
            }
            .inputs1 {
              width: 100%;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              div {
                width: 30.6%;
                margin-bottom: 0.5vw;
                input {
                  &::-webkit-inner-spin-button,
                  &::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    appearance: none;
                    margin: 0;
                  }
                }
              }
            }
            .inputs2 {
              width: 100%;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              div {
                width: 48%;
              }
            }
          }
        }
        .submit {
          background: rgb(8, 30, 57);
          background: linear-gradient(
            90deg,
            rgba(8, 30, 57, 1) 29%,
            rgba(190, 131, 28, 1) 86%
          );
          color: #fff;
          border: none;
          // width: 50%;
          padding: 0.8vw 0;
          border-radius: 0.5vw;
          cursor: pointer;
          margin-top: 2.5vw;
          font-size: $titleSizeBigPC;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.302);
          transition: all 0.5s;
          &:hover {
            filter: brightness(0.8);
            scale: 1.03;
          }
        }
      }
    }
  }
}

.selected,
.seleccionada {
  border: 2px solid rgb(8, 30, 57);
}
